
{% extends 'home/base.html' %}

{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <h4 class="card-title">
                    {% if user.is_authenticated %}
                        ¡Bienvenido {{ user.first_name|default:"Estimado Usuario" }} a AutoLux!
                    {% else %}
                        Bienvenido a nuestra concesionaria de autos
                    {% endif %}
                </h4>
                <p class="card-text">Explora nuestra selección de vehículos y disfruta de una experiencia única</p>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
{% endblock %}
