{% extends 'home/base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center" style="min-height: 80vh;">
        <div class="col-md-8 col-lg-9">
            <div class="form-container">
                <div class="form-header">
                    <h3 class="text-center" style="color: black;">Registro de Usuario</h3> 
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label for="id_username">Nombre de Usuario</label>
                            {{ form.username }} 
                            {% if form.username.errors %}
                                <div class="text-danger">{{ form.username.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="id_email">Email</label>
                            {{ form.email }}
                            {% if form.email.errors %}
                                <div class="text-danger">{{ form.email.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="id_password1">Contraseña</label>
                            {{ form.password1 }}
                            {% if form.password1.errors %}
                                <div class="text-danger">{{ form.password1.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="id_password2">Repita su Contraseña</label>
                            {{ form.password2 }}
                            {% if form.password2.errors %}
                                <div class="text-danger">{{ form.password2.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="id_first_name">Nombre</label>
                            {{ form.first_name }}
                            {% if form.first_name.errors %}
                                <div class="text-danger">{{ form.first_name.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="id_last_name">Apellido</label>
                            {{ form.last_name }}
                            {% if form.last_name.errors %}
                                <div class="text-danger">{{ form.last_name.errors }}</div>
                            {% endif %}
                        </div>

                        <button type="submit" class="btn btn-primary">Registrarme</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
