{% extends "home/base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

{% block content %}
{% load i18n %} 

    <div class="container mt-3">
        <h2> {% trans "Concesionaria AutoLux" %} </h2>
        
        {% if user.is_authenticated %}
            <div class="user-info mb-3">
                <h4> {% trans "Información del Usuario" %} </h4>
                <p><strong> {% trans "Nombre" %} </strong> {{ user_full_name }}</p>
                <p><strong> {% trans "Email" %} </strong> {{ user_email }}</p>
                {% if is_staff %}
                    <p><strong> {% trans "Rol" %} </strong> {% trans "Staff" %} </p>
                {% else %}
                    <p><strong> {% trans "Rol" %} </strong> {% trans "Usuario" %} </p>
                {% endif %}
            </div>
        {% endif %}
        
        {% if user.is_staff %}
            <a href="{% url 'vehiculo_create' %}" class="btn btn-primary mb-3"> {% trans "Añadir Auto" %} </a>
        {% endif %}
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> {% trans "Marca" %} </th>
                    <th> {% trans "Modelo" %} </th>
                    <th> {% trans "Año de Fabricacion" %} </th>
                    <th> {% trans "Cantidad de Puertas" %} </th>
                    <th> {% trans "Cilindrada" %} </th>
                    <th> {% trans "Tipo de Combustible" %} </th>
                    <th> {% trans "Pais de Fabricacion" %} </th>
                    <th> {% trans "Precio USD" %} </th>
                    <th> {% trans "Color" %} </th>
                </tr>
            </thead>
            <tbody>
                {% for vehiculo in vehiculos %}
                <tr>
                    <td>{{ vehiculo.marca.nombre }}</td>
                    <td>{{ vehiculo.modelo.nombre }}</td>
                    <td>{{ vehiculo.fabricado_el }}</td>
                    <td>{{ vehiculo.cantidad_puertas }}</td>
                    <td>{{ vehiculo.cilindrada }}</td>
                    <td>{{ vehiculo.tipo_combustible.nombre }}</td>
                    <td>{{ vehiculo.pais_fabricacion }}</td>
                    <td>{{ vehiculo.precio_dolares }}</td>
                    <td>{{ vehiculo.color.nombre }}</td>
                    <td>
                        <a href="{% url 'vehiculo_detail' vehiculo.id %}" class="btn btn-info btn-sm"> {% trans "Detalles" %} </a>
                        {% if user.is_authenticated %}
    {% if user.is_staff %}
        <form method="post" action="{% url 'vehiculo_delete' vehiculo.id %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm"> {% trans "Eliminar" %} </button>
        </form>
        <a href="{% url 'vehiculo_update' vehiculo.id %}" class="btn btn-success btn-sm"> {% trans "Editar" %} </a>
    {% endif %}
    <a href="{% url 'comentario_list' vehiculo.id %}" class="btn" style="background-color: rgb(140, 22, 207); color: white; border: none;"> {% trans "Comentarios" %}</a>
{% endif %}

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>
{% endblock %}

